@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #191C25;
    font-family: 'Roboto', sans-serif;
    color:white;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.players-container{
    display:flex;
    justify-content: space-between;
    margin: 5em 0;
    gap: 50px;
}
.player, .cpu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cpu{
    width: 200px;
}
.btn-container,.cpu-selected{
    margin-top: 3em;
}
#reset{
    margin-top: 1.25em;
}
button{
    background-color: rgb(50, 112, 50);
    border:none;
    color:white;
    border-radius: 5px;
    padding: 0.5em 1em;
}

button:hover{
    background-color: rgb(63, 139, 63);
}
button:active{
    background-color: rgb(44, 99, 44);
}